[2015-10-28 15:19] vladshub opened #2 "Translations"
Why no translation in the Admin panel?

[2016-03-24 15:04] ghost opened #18 "Bug when compiling Magento to production mode"
When compiling magento the following error appears. For this reason it is unable to set the store to production mode:

php -d set_time_limit=3600 bin/magento setup:di:compile-multi-tenant

`

[code]

`

Please let me know if you have a solution for this problem or a module update.

[2016-09-15 11:28] AVATOR opened #28 "Add yotpo reviews carousel"

[2016-10-17 12:59] andreygolovin opened #35 "Cache issue"
Hello,
Thanks for great module.

Looks like **"cacheable=false"** attribute in default.xml make entire page response non-cacheable.

`<block class="Yotpo\Yotpo\Block\Conversion" name="yotpo_conversion" template="conversion.phtml" cacheable="false"/>`

From Magento 2 [docs](http://devdocs.magento.com/guides/v2.1/config-guide/cache/cache-priv-over.html):

[2017-05-09 07:01] mridang opened #39 "Add support for the rich-snippets API"
We at Nosto are a Yotpo partner and looking to roll out rich-snippet support on M2 as well. The current Yotpo extension doesn't support fetching rich-snippets through the Yotpo API. Here's a reference on how it has been implemented on M1. https://github.com/YotpoLtd/magento-plugin/blob/master/app/code/community/Yotpo/Yotpo/Helper/RichSnippets.php

[2017-05-11 11:53] billykov commented on #39
Hi Mridang,
As we support the Rich Snippets out of the box with our JS widgets, we do not require this mechanism.

Therefore, there are no active plans of adding this functionality.

[2017-05-11 11:53] #39 closed

[2017-05-11 11:54] Tjitse-E commented on #35
@andreygolovin you are right. I've just tested the issue with yotpo/module-review 2.1. I can confirm that this module breaks full page cache when enabled. This makes the module unusable for production!

With Yotpo disabled:
![developer_tools_-_http___www_magehostdev_pro_](https://cloud.githubusercontent.com/assets/14849044/25947671/bb565236-3650-11e7-858d-e4dea03d0da7.png)

With Yotpo enabled:
![d

[2017-05-11 11:59] Sam-PUMP commented on #39
Hi Billykov

How do we then print out on product pages the number of reviews, the average score as an integer for each product? Thanks

On May 11, 2017, 7:53 AM -0400, billykov <notifications@github.com>, wrote:

[2017-05-11 13:32] billykov commented on #35
Hi all,
Thanks for bringing this up - we are checking it.
We will update here once we have news.

[2017-05-16 07:32] billykov commented on #39
Hi @Sam-PUMP
Sorry I don't follow, can you elaborate?
What exactly do you want to show? The star ratings? or Rich Snippets?

[2017-05-17 08:20] Sam-PUMP commented on #39
HI - The Rich Snippets, but or that we need to show the aggregateRating, bestRating, worstRating, ratingValue and reviewCount which are not available on each product page without the rich snippets API (unless there is a way to retrieve all those values on product page by ProductID) ?

Thanks

[2017-05-28 05:54] billykov commented on #39
Hi @Sam-PUMP, thanks for elaborating.

There is no way to get those number without calling our API.

[2017-05-29 04:09] Sam-PUMP commented on #39
Alright, so then can you re-open issue to add support for the rich snippets api in Magento 2 ?
Thanks

[2017-05-31 21:29] ccoffee opened #42 "Category: can't find yotpo block"
Adding the bottomline helper callout on a category page does not work.

` <?php $this->helper('Yotpo\Yotpo\Helper\Data')->showBottomline($this, $_product); ?>`

 I believe this is because the xml in the module that creates the bottomline block only targets a block that is available on the product page, not the category page.

[code]

product.info.main is not on category page, so calling showBottom

[2017-05-31 21:54] Sam-PUMP commented on #39
Or can you please give link to documentation that shows how to add the required data on the product page in Magento 2 for google to recognize rich snippets (reviews in serp).
How do we use the JS widget in Magento 2 to get the aggregate rating, average value best and worst etc for each product? Thank you.

[2017-06-11 13:05] billykov commented on #39
Sure @Sam-PUMP , you can this endpoint:
http://apidocs.yotpo.com/reference#v1-retrieve-bottom-line-total-reviews-and-average-score-for-all-products

About the other question, I am sorry I dont get it, what do you mean by how do you get the aggregate rating, average value best and worst etc for each product?

[2017-06-11 13:10] billykov commented on #42
Hi @ccoffee, thanks for bringing this up.
Let me check that and get back to you.

[2017-06-26 15:11] ccoffee commented on #42
Been a little over two weeks so just checking back. I have tried making a few modifications myself, but it appears in most themes that categories and product lists do not use an individual block for each product, so it cannot target one. It seems it may need a different type of handler for product lists.

[2017-06-28 08:59] billykov commented on #42
@ccoffee Hi,
We are working on adding a fix for this, we are trying to find a workaround for it to work on all category pages. It won't be a part of the next release, but hopefully on the one after it.

[2017-06-28 13:38] billykov commented on #35
Update:
We added this fix to the roadmap, and it is expected to be released with the next version of our extension.
Unfortunately, I don't have ETAs yet

[2017-07-06 17:58] ccoffee commented on #42
Thanks for the update.

Is there any reason not to inject elements onto the page for each product block with a javascript CMS widget?

[code]

[2017-07-09 14:37] billykov commented on #42
@ccoffee You can give it a try, but I am not sure the parameters ({{product_id}}) will be populated this way

[2017-07-12 17:17] ccoffee commented on #42
@billykov understood, these were entered this way just for example sake. (For instance, part of a handlebars/mustache/other template method that can just insert this div into the DOM)

[2017-07-14 08:50] billykov commented on #42
@ccoffee. yes if you can add handlebars/mustache/other dynamic params via the javascript CMS - it should work

[2017-08-02 09:31] Samuel-Ayvazyan opened #54 "Yotpo can't configuration menu"
Yotpo was installed successfully.
I can see Yotpo in Modules enable/disable section: http://prntscr.com/g3ck4y
But I can't see Yotpo configuration menu in Store->Configurations page.
Here is a screenshot for menu: http://prntscr.com/g3clpg

Following commands was successfully:
- composer require yotpo/module-review
- sudo bin/magento setup:upgrade
- sudo bin/magento setup:di:compile

Sorry if it i

[2017-08-02 10:30] billykov commented on #54
Hey @Samuel-Ayvazyan,
Yeah, this is not the right place to ask this :)

See if this article helps you - https://support.yotpo.com/en/article/magento-2-installing-yotpo
If not please contact our support via the Yotpo Admin

[2017-08-02 10:30] #54 closed

[2017-08-14 08:36] HOSTED-POWER commented on #35
Hi, any update? Sites cannot use the cache because of this at all.

[2017-08-28 08:15] Bobstar040 commented on #18
Is there any fix for this? Yotpo is gone after setting production mode. I use M 2.1.8.

[2017-11-06 22:30] rain2o opened #62 "Uncaught Error: Call to a member function getId() on null"
When creating a shipment on an order I am seeing this error in our Nginx logs and it throws a 500 in the browser.
[code]

I tracked the issue down and `$parentId = $item->getProduct()->getId()` was the culprit. It is trying to get the Id before it checks if `getProduct` even returns anything. This was my temporary solution locally.

In file `Helper/ApiClient.ph` starting at line 39.

Replace:
[cod

[2017-11-07 10:10] billykov commented on #62
Hey @rain2o
Thanks!

Why won't you open a pull request and we will add this fix to our next release?

[2017-11-07 15:31] rain2o commented on #62
Thanks @billykov . Was in the midst of a site launch yesterday so I wasn't able to go through that process, but I've submitted the pull request now. #63

[2017-11-07 18:30] billykov commented on #62
Great stuff - thanks @rain2o

[2017-11-07 18:30] #62 closed

[2017-12-06 01:03] friendscottn opened #71 "Support PHP7.1 Installs from composer"
Is PHP7.1 really not supported, or is this something that can simply be updated in the [composer.json](https://github.com/YotpoLtd/magento2-plugin/blob/master/composer.json) file?

## Steps to Reproduce
- Setup your CLI to run php 7.1
- Run `composer require yotpo/module-review`
## Result
InvalidArgumentException - Could not find package yotpo/module-review at any version matching your PHP version

[2017-12-06 13:38] Tjitse-E commented on #35
@billykov come on, how can this bug not be fixed after one year? Who knows how many Magento 2 installations have broken Full Page Caching because of this...

[2017-12-06 13:54] andreygolovin commented on #35
@Tjitse-E it seams that this issue was fixed [here](https://github.com/YotpoLtd/magento2-plugin/commit/809fe911df4570030b4c3dc3a9c5e663d88bd3cd
) :)

So at the moment cache will be off for "checkout_onepage_success" which is much better than for "default".

[2017-12-06 18:42] billykov commented on #35
Hey guys,
Sorry, it was fixed, but forgot to update this thread.

We gotta keep the checkout un-cached for tracking purpose, but the rest of the cache is now unharmed.

[2017-12-06 18:42] #35 closed

[2017-12-07 12:07] billykov commented on #71
@friendscottn We are validating the support for 7.1 and will update about it

[2017-12-21 12:04] miqbal699 opened #78 "Exception when all 3 blocks are enabled on product page"
When I enable all three blocks (i.e. bottomline, yotpo-qa-bottomline, and yotpo-questions) on product details page, Magento throws an exception because of all blocks having the same alias.

Magento version: EE 2.1.6

Exception message: The element 'product.info.main' already has a child with alias 'other' in /vendor/magento/framework/Data/Structure.php:611

Stack trace 1:
#0 /vendor/magento/framew

[2018-01-05 14:19] shrinet commented on #18
I am also getting error on enabling production mode. After enable production mode Yotpo is gone and producing error
![yotpo-error](https://user-images.githubusercontent.com/2738619/34612851-7e72f140-f251-11e7-96c2-ed3e93f5a7c1.PNG)

Please suggest

[2018-01-07 14:42] billykov commented on #18
Hey @shrinet What version of the Yotpo Module are you using?

[2018-01-07 14:48] shrinet commented on #18
Hello @billykov thanks for reply, I am using here is details of composer-lock.
`"name": "yotpo/module-review",
            "version": "2.2.7",
            "source": {
                "type": "git",
                "url": "https://github.com/YotpoLtd/magento2-plugin.git",
                "reference": "0de43039dfefdfd00df01ffb26a805a2137c5de6"
            },`

Please let me know if any more informat

[2018-01-07 20:17] sa3iedsabbah commented on #18
Hey @shrinet can you tell me witch Magento2.x and PHP version you are using?

[2018-01-07 20:46] shrinet commented on #18
@sa3iedsabbah I am using PHP7.1 FPM and Magento2.1.7

[2018-01-08 14:40] sa3iedsabbah commented on #18
@shrinet We are going to support PHP7.1 in the near future(still having some tests to do), but for sure, magento2.1.x DON'T support PHP7.1
I recommend you so switch to PHP7.0.X ( notice that PHP7.0.3-5, had some issues).

source, magento docs
http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html
and
https://magento.stackexchange.com/questions/116418/why-doesnt-magento-2-

[2018-01-09 12:04] shrinet commented on #18
Thanks for making it clear. I will adjust it. Thanks a lot

[2018-01-09 19:34] gabarba commented on #71
Hi what is the status of this as I was  trying to install this on our Magento 2 Dev Server

[2018-01-11 09:23] sa3iedsabbah commented on #71
@gabarba Hi, how are you?
what version of Magento2 are you using?

[2018-01-11 22:34] gabarba commented on #71
Currently using 2.2.2 CE

[2018-01-11 22:35] gabarba commented on #71
Doesn't matter after reviewing the extension I will need to refactor and rewrite portions of it anyways much like I had to do on the Magento 1 version in order to have the features we were looking for.

[2018-01-14 02:51] shilpsauce commented on #71
Any updates on this? We are also waiting on this.

[2018-01-19 15:37] xantek-imc opened #80 "Exception - Duplicate 'other' alias in 'product.info.main'"
![image](https://user-images.githubusercontent.com/6416190/35158237-5ee346f0-fceb-11e7-92d4-adae72c79811.png)

 report.CRITICAL: Magento\Framework\Exception\LocalizedException: The element 'product.info.main' already has a child with alias 'other' in /srv/www/magento2/vendor/magento/framework/Data/Structure.php:611
Stack trace:
#0 /srv/www/magento2/vendor/magento/framework/Data/Structure.php(319):

[2018-01-25 11:40] peterjaap opened #81 "Invalid template file helper/summary_short.phtml in module Yotpo_Yotpo"
We got this error;

[code]

It seems that this line in `vendor/magento/module-review/Block/Product/ReviewRenderer.php` is the culprit;

`$this->setTemplate($this->_availableTemplates[$templateType]);`

This should be;

`$this->setTemplate('Magento_Review::' . $this->_availableTemplates[$templateType]);`

Another option is to change the `$_availableTemplates` var to;

[code]

Or the template files

[2018-01-25 11:41] peterjaap commented on #81
Another option would be to copy the `getReviewsSummaryHtml` into `YotpoReviewRenderer` and make the edits there.

[2018-01-29 17:28] shilpsauce commented on #71
Looks like there is a pull request for this change. Can we get it merged?

[2018-02-07 13:36] enl commented on #81
I'd rather suggest to fix Magento core issue in this `ReviewRenderer` just because Yotpo is not the only reviews module in the whole world and all of them are affected by this.

As for my project, the issue was introduced only after upgrade to M2.2.

[2018-02-08 09:45] py4762013 opened #82 "main.CRITICAL: Invalid template file: 'yotpo-questions.phtml' in module: 'Yotpo_Yotpo' block's name: 'yotpo-questions' []"
main.CRITICAL: Invalid template file: 'yotpo-questions.phtml' in module: 'Yotpo_Yotpo' block's name: 'yotpo-questions' [] []

[2018-02-15 08:08] chufolopez commented on #81
You must deactivate the module Mage_Review in app/ect/config.php
'Magento_Review' => 0,

[2018-02-15 17:03] indefinitedevil commented on #71
Also need this.

[2018-02-16 06:29] billykov commented on #81
Hi all,
@chufolopez  does deactivating it solves the issue?

[2018-02-16 08:37] chufolopez commented on #81
Yes @billykov .

[2018-02-21 22:37] jefflenz commented on #81
That's a bad idea, shouldn't disable core Magento module.  For example, when running php bin/magento module:disable Magento_Review you are met with all the dependency errors.

[2018-02-22 14:45] enl opened #83 "Warning: Ambiguous class resolution while doing `composer dump-autoload -o`"
[code]

**Step to reproduce:**
1. `composer require yotpo/module-review`
2. `composer dump-autoload -o`

This actually means that there are two classes with exactly the same name in the module, but located in different folders.

[2018-03-01 20:26] ccoffee opened #84 "Be careful! Breaks install on 2.2"
I have tried this multiple times. Doing the composer require and setup:upgrade always trashes the installation, the server load shoots through the roof and you can't load any pages fully.

Luckily I am using a recoverable installation with disk snapshots. This happened to me last year and we were never able to find out what it was. Now coming back around to this, installing all sorts of modules an

[2018-03-01 21:44] #84 closed

[2018-03-02 22:01] alex-histev commented on #18
@shrinet Is switching to PHP7.0 solved your issue?

I have Magento 2.2.2 with  PHP7.1 FPM and I have exactly the same bug in production mode.

It works if switch off HTML-minifying in admin area before deploying to production mode.

@sa3iedsabbah could you advise me how to solve issue with HTML-minifying? Which part of module may be a reason of it?

[2018-03-06 17:00] shrinet commented on #18
@alex-histev I fixed issue by downgrading PHP. I dont think HTML minify have any issue now, I am using it.

[2018-03-06 17:21] alex-histev commented on #18
Hi @shrinet, thank you for your answer. I've tested module with downgraded PHP but it doesn't work for me. Issue appear in production mode only. For now I use production mode without HTML minification and it works.

[2018-03-16 16:01] object-source commented on #71
Do you have an ETA on this? We cannot use the extension without 7.1.x support

[2018-03-16 17:30] Sam-PUMP commented on #71
Can you please merge the pull request for 7.1.x support in composer.json?

[2018-03-20 16:09] peterjaap commented on #83
Yep, same error here when running `composer install -vvv`;

`Warning: Ambiguous class resolution, "Yotpo\Yotpo\Block\Product\YotpoReviewRenderer" was found in both "/builds/steunkousen/magento2/vendor/yotpo/module-review/Block/Product/YotpoReviewRenderer.php" and "/builds/steunkousen/magento2/vendor/yotpo/module-review/Product/YotpoReviewRenderer.php", the first will be used.`

[2018-04-16 16:07] indefinitedevil commented on #81
Does anything in this module work properly? How has this not been fixed yet?

[2018-04-16 16:10] indefinitedevil commented on #71
This has now been done which I only found out by subscribing to the pull request

[2018-05-01 18:26] Jakhotiya commented on #83
That's happening because there is duplicate class in Product directory. So there are two classes with same namespace , one in Block/Product directory and one in Product directory. I will fix it and send a pull request in some time.

[2018-05-14 13:49] stevenkbanks commented on #81
Hello,
I have just found this thread and wondered if anyone could help me with a similar error message.
It appears when we click on Cache Management in Magento 2.2.0.

Very new to all of this so all help very much appreciated!
Thanks,

1 exception(s):
Exception #0 (Magento\Framework\Exception\ValidatorException): Invalid template file: 'Magento_Backend::system/cache/additional.phtml' in module: 'M

[2018-05-17 17:26] bansavage commented on #78
I can confirm this is still an issue in the Yotpo module. Each block mentioned above has an attribute of: `as="other".` Aliases must be unique in a parent container.

[2018-05-17 17:27] bansavage commented on #80
I can confirm this is still an issue in the Yotpo module. Each block mentioned above has an attribute of: `as="other"`. Aliases must be unique in a parent container.

[2018-05-17 19:38] Sanfam commented on #78
@billykov or anyone else from yotpo, This issue and #80 are effectively duplicates of one another and should be merged.

[2018-05-26 00:47] friendscottn commented on #81
Another temporary fix is to use @peterjaap 's suggestion and write your own module that override's Yotpo's.

app/code/VENDOR/Yotpo/Block/Product/VENDORYotpoReviewRenderer.php
[code]

Then use the app/code/VENDOR/Yotpo/etc/frontend/di.xml file to prefer yours class.
[code]

[2018-05-28 00:12] jefflenz commented on #81
Just create the PHTML files in your theme, no need for any modules or override.

[2018-06-28 11:14] indefinitedevil commented on #78
This is ridiculous. Can this get addressed already? It's been over six months and there's still no fix for this.

[2018-06-28 13:03] d6devteam commented on #78
As above, this issue has been outstanding for over 6 months and is causing constant errors on production websites.

[2018-07-02 15:55] jefflenz commented on #81
It seems the developers have abandoned this extension

[2018-08-02 21:02] silversil commented on #81
I got the same issue but with this error:

1 exception(s):
Exception #0 (Magento\Framework\Exception\ValidatorException): Invalid template file: 'Magento_Backend::system/cache/additional.phtml' in module: 'Magento_Backend' block's name: 'cache.additional'

Exception #0 (Magento\Framework\Exception\ValidatorException): Invalid template file: 'Magento_Backend::system/cache/additional.phtml' in modul

[2018-08-06 04:43] asnecommerce commented on #82
Getting this error too, plus others:
[2018-08-06 04:41:12] report.CRITICAL: Invalid template file: 'helper/yotposummary.phtml' in module: 'Yotpo_Yotpo' block's name: '' [] []
[2018-08-06 04:41:14] report.CRITICAL: Invalid template file: 'yotpo-questions.phtml' in module: 'Yotpo_Yotpo' block's name: 'yotpo-questions' [] []

[2018-08-08 15:09] JanuszWitrykus commented on #81
This is so simple fix. Why they did not it since today?

[2018-08-08 15:43] allanpaiste commented on #82
I place my bets on someone forgetting to add certain new files to the latest release.

@aberenshtein, maybe you can comment on that?

[2018-08-14 02:57] asnecommerce commented on #82
Would be awesome to get a fix for this seeing as the issue was first raised at the start of February.

[2018-08-21 07:32] #78 closed

[2018-08-21 07:32] #80 closed

[2018-08-21 07:33] #82 closed

[2018-08-21 22:12] asnecommerce commented on #82
@DanGlz Were these issues fixed?

[2018-08-22 08:40] DanGlz commented on #82
check the last release - 2.4

‫בתאריך יום ד׳, 22 באוג׳ 2018 ב-1:12 מאת ‪asnecommerce‬‏ <‪
notifications@github.com‬‏>:‬

[2018-08-22 11:04] allanpaiste commented on #82
Just looking at the code of the block class - I'd say it's fixed :)

[2018-09-19 10:42] vrajeshpatel4u commented on #80
I have installed Yotpo in Magento 2.2.5 and still this issue in exception.

[2018-09-19 20:15] friendscottn commented on #71
Thanks!

[2018-09-19 20:15] #71 closed

[2018-10-11 13:07] navinbhudiya opened #107 "Cannot read property 'get' of undefined"
On product detail page module not working
showing bellow error while click on review start.

**widget.js:1 Uncaught TypeError: Cannot read property 'get' of undefined
    at Function.e.scrollToReviewsTabInMainWidget (widget.js:1)
    at HTMLDivElement.<anonymous> (widget.js:8)**

Magento Version 2.2.5

[2018-10-16 11:57] #83 closed

[2018-10-16 12:08] DanGlz commented on #81
fixed in #106 PR

[2018-10-16 12:08] #81 closed

[2018-10-16 12:12] DanGlz commented on #107
Hi @navinbhudiya, thanks for bringing this up.
Which version of magento2-plugin you are using?
Can you provide please more details and screenshots regarding the issue?

Thanks

[2018-10-16 14:15] navinbhudiya commented on #107
![image](https://user-images.githubusercontent.com/22772614/47022753-ccaef200-d17b-11e8-9cb2-cebf8d90388f.png)
Magento version 2.2.5
YotpoLtd/magento2-plugin : 2.4

[2018-10-16 14:52] DanGlz commented on #107
Hi @navinbhudiya ,
It seems like the Widget is disabled in your Yotpo Configuration page (Admin).
Make sure that the field "Enable Default Widget Position"  is set to ״Yes״.

![screen shot 2018-10-16 at 17 49 05](https://user-images.githubusercontent.com/25307324/47025386-07109300-d16c-11e8-919c-969672c71411.png)

[2018-10-17 05:38] navinbhudiya commented on #107
@DanGlz  Thank You so much , it fixed my issue. Thank very much..!

[2018-10-17 05:38] #107 closed

[2018-10-25 09:47] kamilszewczyk commented on #18
This seems to be the same issue I've found and it's the same issue I've reported on Magento Core: https://github.com/magento/magento2/issues/18048
It seems like minification is breaking stuff and this ticket has give me useful information about version of PHP that might cause the issues.

I have found that changing `<?php echo` to <?=` fixes the issue with minification so this might be a workaroun

[2018-10-25 15:19] tarnum777 opened #112 "Wrong template path in YotpoReviewRenderer"
In file vendor/yotpo/module-review/Block/Product/YotpoReviewRenderer.php there is no such template as         self::SHORT_VIEW => 'Magento_Review::summary_short.phtml',
, it should be 'Magento_Review::helper/summary_short.phtml'

[2018-10-31 16:42] DanGlz commented on #112
Hi @tarnum777 ,

Thanks for bringing this up.
This issue (#106) fixed and merged to master. Also, it will be available on the MarketPlace in our next release.

[2018-11-21 13:56] #112 closed

[2018-12-10 09:46] chrBrd opened #117 "Implement PHP 7.2 support"
We're looking to upgrade to PHP 7.2; this module is currently holding us back. Is support for 7.2 planned anytime soon?

[2018-12-11 14:03] chrBrd commented on #117
Brilliant @DanGlz, many thanks.

[2018-12-12 11:47] DanGlz commented on #117
Hi @chrBrd ,
We released a new version that supports Magento 2.3 and PHP 7.2.
Currently, the installation available via composer and soon will be released on Magento Marketplace.

[2018-12-14 11:18] chrBrd commented on #117
Superb @DanGlz, thanks for taking care of it so quickly.

[2018-12-14 11:18] #117 closed

[2018-12-17 08:51] salgua opened #121 "Plugin doesn't work creating shipments with Magento API"
Hi,
since I'm using [shippypro](https://www.shippypro.com/) to automatically create shipments, the plugin stops to send orders to Yotpto. Shippypro doesn't install any module in Magento, simply it create shipments using standard Magento 2 API. It seems that your module doesn't work with shipments created in this way. It works only with shipments created through web admin interface. Could you fix t

[2018-12-17 09:17] salgua commented on #121
I think your event "sales_order_save_after" is not fired using web api.

[2018-12-18 09:11] chrBrd opened #123 "Column layout specified in .xml files overriding base themes."
Upgrading this module from 2.4 to 2.4.3 broke our site's layout. Our theme is built off the Magento base theme (which uses `2columns-left` for category layout) and we hadn't explicitly specified a `layout` attribute in the theme's `page` element. The new `catalog_product_view.xml` etc.layouts included with this module _do_ have a `layout` attribute specified, and it overrode our theme.

While it's

[2019-01-01 14:57] wabakok commented on #121
Hi,

Thanks and apologies for the delays here.  Basically we set up an observer to listen to the order state change.  Orders that are created in complete state directly via API will not trigger our listener, as the order state hasn't actually changed.

If you can create shippypro orders under a different status and set up an automation on your end that changes the order state to complete in Magent

[2019-01-01 15:00] wabakok commented on #123
Hi,

Sorry for the delays on this one.  Our R&D team is reviewing the PR.

[2019-01-02 10:03] SlavicB commented on #80
@vrajeshkpatel Should be good now, can you please let us know if you're still experiencing issues.

[2019-01-03 23:15] webamondo commented on #123
I'm hoping this is what has caused my site to loose the layered navigation sidebar and instead inserts it at the bottom of the page, I have narrowed it down to yotpo but not found the exact cause yet

[2019-01-07 12:12] salgua commented on #121
Hi, thank you for your response.
Could you explain better which kind of automation you means?
Something like a module with an observer to listen orders and change status?
Thank you!

[2019-01-07 12:21] chrBrd commented on #123
@webamondo Quite probably, the specified layout breaking our layered navigation is what led me to open this issue and submit a PR for it.

[2019-01-11 15:38] chrBrd commented on #123
@wabakok

Any update on this? It's now been over three weeks for your 'R&D team' to review a change that should have taken no more than 10 minutes (and shoudln't have been made in the first place).

I may have fixed this temporarily on our server, but as @webamondo shows this will affect your other customers.

[2019-01-11 16:05] webamondo commented on #123
I really need this fixing too, I've currently hacked it in vendor for two customers which is less than ideal

[2019-01-11 17:23] chrBrd commented on #123
@webamondo In the interim, a more ideal fix is to explicitly declare the desired `layout` attribute in the theme's `page` element so you aren't modifying `vendor` code. Should also prevent the same problem happening further down the line if any other dependencies do something similar.

That said, this shouldn't have been an issue in the first place, and it certainly shouldn't be taking this long t

[2019-01-22 10:39] chrBrd commented on #123
Many thanks @DanGlz!

[2019-01-22 10:39] #123 closed

[2019-01-28 08:46] #42 closed

[2019-01-28 08:46] #28 closed

[2019-01-28 08:47] #18 closed

[2019-01-28 08:47] #2 closed

[2019-02-25 22:27] subbu1993 opened #133 "Issue with grouped products"
#### Preconditions

- Magento 2.1.16
- Yotpo plugin version 2.4.4

#### Issue

- Parent ID of grouped products are not being loaded as expected

#### Replication

- Add a grouped product and place an order
- The sales order item table, will have an entry like

|item id | order id|...|product type|Product ID|Sku|
|-------|-------|-------|-------|-------|-------|
|1|1|...|grouped|100|ABC|

- The cal

[2019-03-01 02:44] altheaziyun opened #140 "Review widget not showing after ajax filter or sort"
At first when category page load it shows the review widget but it had disappear after apply ajax filter or sort, is there anything I can change to resolve this issue?

[2019-03-01 03:15] #140 closed

[2019-03-01 11:39] SlavicB commented on #140
You might find this helpful:
https://support.yotpo.com/en/article/loading-yotpo-with-ajax

[2019-04-01 09:17] altheaziyun opened #144 "yotpo_rich_snippets table was not created when upgrade from previous version."
Hi Yotpo,

The `yotpo_rich_snippets` table was not created when update from lower version, maybe you could check and create the table if the table do not exists.

[2019-04-01 16:33] SlavicB commented on #144
Hi,

You've had an older version of the Yotpo extension and the upgrade did not create the table?
The table should've been created in an older version as well.
Would you kindly provide some additional details on how to replicate this issue?

Kindly,

[2019-04-02 03:44] altheaziyun commented on #144
@SlavicB I use `composer update yotpo/module-review` to update from 2.2.8 to 2.4.5, after I run `php bin/magento setup:upgrade` the table was not created. I need to remove `Yotpo_Yotpo` row in `setup_module` table and run setup upgrade again to create the table.

I also notice that yotpoBottomLine is showing twice in product info page after the update.

[2019-04-18 11:52] guido7171 opened #148 "php bin/magneto - Connection "default" is not definfed"
Reproduce:

After a git clone m2.project.git
Or clean install ^m2.3.0
with in composer.json
[code]
composer install

php bin/magento will break on getCommands.

[code]

The Yotpo Console Commands Classes have a di constructor dependency on Magento\Framework\App\ResourceConnection.

app/etc/env.php isn't ready yet because we're building the deploy.

I will think about a solution later on

[2019-04-19 00:21] markshust commented on #148
this is a big issue. i needed to clone this repo out locally to app/code and remove the entire `Console` folder in order to deploy to magento cloud (which also doesn't use an env.php file in the build process).

[2019-04-19 15:04] stoopman commented on #148
We also have this issue, it's bad practise to use Resource connection classes as dependency injection. The build phase should not depend on a resource connection, due to this our CI/CD is failing.

Temporary solution is to either fork this repo and change the console commands, or include this module in your project's repo (app/code).

Hope you can make a proper solution for this problem!

[2019-04-20 18:22] OhHeyAlan opened #149 "Rich Snippets no longer work"
I was pulling in rich snippets in the last version with no problem using

<?php
    $rs_helper = $this->helper('Yotpo\Yotpo\Helper\RichSnippets');
    $array = $rs_helper->getRichSnippet($this);
?>

And

  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "<?php echo $array["average_score"]; ?>",
    "reviewCount": "<?php echo $array["reviews_count"]; ?>"
  },

But after upda

[2019-04-21 10:32] wabakok commented on #149
Thanks!

Could you please open a support case so we'll be able to take a closer look?
https://support.yotpo.com/en/article/submitting-a-support-ticket

We'll need additional details to troubleshoot this further, I believe it's something specific to your account.

[2019-04-21 11:57] wabakok commented on #148
Hi All,

Thanks for raising this.  We've just started QAing a fix for this one.  We'll update here once it's live.

Thanks!

[2019-04-23 12:48] wabakok commented on #148
We've just released a new version of our plugin which should also address this issue.  It's not available on Magento Marketplace yet, you'll need to install it from our repo.
If you're still seeing this happening please let us know ASAP.

Thanks!

[2019-04-24 02:27] OhHeyAlan commented on #149
I highly doubt that. I downgraded to 2.4.5 and the rich snippets load without a problem.

[2019-04-24 08:07] wabakok commented on #149
Just checked again - we don't seem to have any issues with the helper function.  Seemed to be working fine in my sandbox.
It seems like this might require additional looking into.  Have you opened a case with our support team?
Please send over the case number and I'll make sure to bump it up.

[2019-04-24 10:28] guido7171 commented on #148
@wabakok The proxy fixing seems to be fixing the issue :+1:

[2019-04-24 13:19] markshust commented on #148
nice use of proxy 👍

[2019-04-26 22:20] friendscottn opened #151 "Javascript Error on Category Page Star Click"
To Reproduce:
- Enable the bottom line on category pages
- Have some reviews
- Click the stars on a category page

Expected Bahavior:
- User navigates to the product page reviews area

Actual Behavior:
- A javascript error occurs:
[code]

Example:
https://demo.banyanbotanicals.com/men/tops-men.html

Screenshot:
![image](https://user-images.githubusercontent.com/2660768/56839322-ca1e0b00-6836-11e9-

[2019-04-28 09:10] wabakok commented on #151
Hi,

Thanks for bringing this up.
Basically, bottomlines behave one way on a product page and another way on a category page.  It looks like in your case category page bottomlines behave like they are on a product page.

Can you please open up a support case for this one?
https://support.yotpo.com/en/article/submitting-a-support-ticket

Please reply with the case number so I can update our support

[2019-04-29 23:14] friendscottn commented on #149
The code in the getRichSnippet method had several issues preventing it from running successfully. Once I resolved those I noticed that the underlying API had changed removing the following resource:
`products/APP_KEY/richsnippet/PRODUCT_ID`.
I updated the call to use the bottomline resource which has the same data available.

[2019-05-16 09:47] hobadams opened #158 "Duplicated CSS"
All of the {less} added in the file `yotpo/module-review/view/frontend/web/css/source/_module.less` is added to both `styles-m.css` and `styles-l.css`

By wrapping your code in the following it will only appear in `styles-m.css`, preventing it from being difficult to override + bloating the css.

[code]

It would be great to see this added to your module.

Thanks

[2019-05-17 09:00] Floddy commented on #144
Ran into this today;

The issue is that the DB table is added in the install script, and the install script was added after the module was initially released.

Since M2 _always_ stores module setup versions in the DB, Install scripts will only be ran at first install, but not if the install script is added in a later version. This is unless you remove it from setup_module ofc, but that is manual w

[2019-05-20 07:31] wabakok commented on #158
Hi,

Thanks for pointing this out!
I've notified our devs and they are currently reviewing your suggestion.

[2019-05-20 08:26] hobadams commented on #158
@wabakok - Thanks :-)

[2019-06-04 07:14] pengleelove commented on #83
Warning: The lock file is not up to date with the latest changes in composer.json. You may be getting outdated dependencies. Run update to update them.  it's Ok

[2019-06-06 08:36] jafar247commerce commented on #107
@navinbhudiya , I have made the settings correct, still i am getting the same error.

[2019-06-06 12:32] SlavicB commented on #107
@jafar247commerce Can you please link us to the page where you experience the issue

[2019-06-18 12:59] yrudiuk opened #160 "Orders sync does not work for multistore setup"
**Preconditions**

- Magento 2.3.1
- Yotpo 2.7.7

**Issue**
Next error logged for every cron run of every store - "Please make sure you insert your APP KEY and SECRET and save configuration before trying to export past orders"
Orders sync does not work if Yotpo configuration set on website/store level. Process tries to load default configuration instead.

[2019-06-18 13:46] DanGlz commented on #160
Hey @yrudiuk ,
Thanks for raising this.
Version 2.8.0 is available, upgrade your Yotpo module and let us know if the problem still exists.

Thanks.

[2019-06-18 13:57] stoopman opened #162 "Connection "default" is not defined when running bin/magento setup:di:compile"
Reopening issue #148

This was previously fixed in a console command file, but now the issue has resurfaced in the latest version.

in https://github.com/YotpoLtd/magento2-module-yotpo-reviews/blob/master/Cron/Jobs.php#L77 the Proxy is missing in the constructor

[2019-06-20 09:53] yrudiuk commented on #160
Hello,

It seems like it fixes our issue, however 2.8.0 breaks code build process.
We are using snapshot building without connection to database. And when process runs setup:di:compile, next error appears:
In ResourceConnection.php line 149:
Connection "default" is not defined

This is not happening on 2.7.7

[2019-06-20 11:31] yrudiuk commented on #160
This caused specifically by the vendor/yotpo/module-review/Console/CommandList.php which uses object manager

[2019-06-20 11:55] DanGlz commented on #160
Hey @yrudiuk ,

We just released v2.8.1 that suppose to fix the DB connection error.
Please upgrade to version v2.8.1 and let us know if you have any problems.

Thanks.

[2019-06-20 13:45] yrudiuk commented on #160
Thank you. All good now

[2019-06-20 13:45] #160 closed

[2019-06-20 14:37] yrudiuk commented on #160
However, orders still not sending and we are getting next info in debug log for every store:
Jobs::ordersSync() - Skipping store ID: 2 (disabled)" {"store_id":"1","app_key":null}

It seems like $this->_yotpoHelper->isEnabled() checks default config only?

[2019-06-21 06:49] DanGlz commented on #160
It seems like  under sore id 2 yotpo disabled and your app key is empty.
Make sure to fill your App Key, API secret and to set **Enable Yotpo** --> yes for each store view.

![Screen Shot 2019-06-21 at 9 48 57](https://user-images.githubusercontent.com/25307324/59903528-e474ff00-9409-11e9-8d1c-65992e3542a3.png)

[2019-06-24 06:56] yrudiuk commented on #160
@DanGlz thank you. This is working for us now.

[2019-06-24 07:25] wabakok commented on #158
@hobadams
Appreciate your patience here.  We've added your suggestion to our latest version, 2.8.1 which is already live :)

[2019-06-24 08:20] hobadams commented on #158
Thanks,

This is great news!

I'll update the module on the build I'm working on now :-)

Hob Adams
Senior Developer
[image: Gene Commerce - specialist ecommerce agency]
<http://gene.co.uk/> [image:
Magento Solutions Partner] [image: Magento 2 Solutions Partner]
<https://magento.com/>
T: +44(0) 1273 030390 | 20 Middle Street, Brighton, BN1 1AL
[image: Twitter Logo] <https://twitter.com/gene_commer

[2019-06-27 10:00] hobadams commented on #158
@wabakok - I'll mark this one as resolved :-)

[2019-06-27 10:00] #158 closed

[2019-06-27 10:05] hobadams opened #164 "Yotpo Configuration in Single Store mode"
Hey guys,

I'm using 2.8.1 of your module.

I've noticed that some of the store configs don't appear in the admin if you are running on single store mode.

I believe this is because of `showInDefault="0"`. The configs save but isn't visible on store view 0 (in the admin)

![Screenshot 2019-06-27 at 11 04 07](https://user-images.githubusercontent.com/9551929/60257432-59917a00-98cb-11e9-8b8e-cad2338

[2019-06-30 08:52] SlavicB commented on #164
Hey @hobadams ,

Those fields disabled by design, Yotpo is configured in a store scope, there is no global scope config.
Even with a single store the configuration is done in that store's scope.

[2019-07-01 08:35] hobadams commented on #164
Thanks @SlavicB.

For us the means we can't see the config settings as there is no way to view that store in the admin.

[2019-07-02 11:06] SlavicB commented on #164
Even with a single store you should have a store view, can you please provide a screenshot of the whole page.
That's how the page looks in the two different states:
![Screen Shot 2019-07-02 at 14 04 53](https://user-images.githubusercontent.com/20300814/60508175-90ec9600-9cd2-11e9-8f97-aa4b1fd07d4c.png)
![Screen Shot 2019-07-02 at 14 04 20](https://user-images.githubusercontent.com/20300814/605081

[2019-07-02 13:52] hobadams commented on #164
<img width="531" alt="Screenshot 2019-07-02 at 14 50 38" src="https://user-images.githubusercontent.com/9551929/60518126-cc8a5e80-9cd8-11e9-9e5a-7700f8bcb7ab.png">
<img width="1117" alt="Screenshot 2019-07-02 at 14 50 16" src="https://user-images.githubusercontent.com/9551929/60518127-cd22f500-9cd8-11e9-8e84-30d8ad0bac5d.png">

Hey @SlavicB these are screen grabs from my admin.

This store is Mage

[2019-07-05 10:07] webamondo opened #166 "Upgraded to 2.8.1 Specified invalid parent id (Magento_Review::report_review)"
Just upgraded via composer from 2.7.7 to 2.8.1

Updating yotpo/module-review (2.7.7 => 2.8.1): Downloading (100%)

Now when I try and load the Magento admin I am getting the following error:
{"0":"Specified invalid parent id (Magento_Review::report_review)","1":"<pre>#1 Magento\\Backend\\Model\\Menu\\Builder\\Interceptor->___callParent() called at [vendor\/magento\/framework\/Interception\/Interce

[2019-07-08 16:54] Sazoulay commented on #164
Hi @hobadams

Even in a single store view mode, you should be able to get all the relevant settings.
<img width="960" alt="2019-07-09_00h51_24" src="https://user-images.githubusercontent.com/44259724/60827937-fac8dc00-a1b9-11e9-9ff1-13d1965b30a2.png">

Could you please elaborate on what options you are missing?
Or please send screenshots that contain all the Yotpo plugin settings as the screenshot

[2019-07-16 10:34] SlavicB commented on #164
That's an issue with EE from what I see, we will address this in one of our upcoming releases, thank you for reporting this.

[2019-07-24 13:22] hobadams commented on #164
Thank you.

Are you ok to drop me an email when this is resolved.

Thanks
Hob Adams
Senior Developer
[image: Gene Commerce - specialist ecommerce agency]
<http://gene.co.uk/> [image:
Magento Solutions Partner] [image: Magento 2 Solutions Partner]
<https://magento.com/>
T: +44(0) 1273 030390 | 20 Middle Street, Brighton, BN1 1AL
[image: Twitter Logo] <https://twitter.com/gene_commerce> [image: Link

[2019-09-01 08:52] #162 closed

[2019-09-01 08:53] #133 closed

[2019-09-04 13:18] hobadams opened #181 "IE 11 Support"
Hey guys,

I'm trying to use a Yotpo Gallery on my site.

On IE11 I'm getting the following error in your `widget.js` file:

`Object does not support property or method 'forEach' - widget.js (5,29347)`.

The path is https://staticw2.yotpo.com/fEJjethhubYIKhBEz3InUXkOp5jFYR2emtO1zn7X/widget.js

Any help would be appreciated.

[2019-09-06 18:39] webamondo opened #182 "Yotpo/Yotpo/Helper/ApiClient does not exist"
Latest version of the module with Amasty Sorting Module, on one site it stops the whole category page loading. On another site it intermittently stops users adding to cart.

EDIT: Actually breaks the category on both sites when logged in.

{"0":"Class Yotpo\\Yotpo\\Helper\\ApiClient does not exist","1":"<pre>#1 Magento\\Framework\\Code\\Reader\\ClassReader->getConstructor() called at [vendor\/mage

[2019-09-08 07:48] yotpaul commented on #181
Hey! It seems like IE indeed does not support `forEach`. Let me check about this and get back to you.

[2019-09-08 13:54] SlavicB commented on #182
@webamondo Category pages without Amasty Sorting Module works correctly?

[2019-09-08 14:13] SlavicB commented on #166
@webamondo Can you please attach the full-stack
Can you also update to the latest Yotpo version which addresses some of the issues.

[2019-09-08 14:46] webamondo commented on #166
@SlavicB all my pages use the amasty module so not sure. It was the latest version of the module that introduced this bug for me.

[2019-09-09 11:15] yotpaul commented on #181
A bug has been open about this internally.

[2019-09-16 09:01] brightonmike commented on #181
@yotpaul if your issue is on a Nodelist you can either polyfill forEach

[code]

or use array from

[code]

[2019-09-20 07:38] hobadams commented on #181
@yotpaul - thanks. Do you have any idea of timescales for this one?

[2019-09-22 05:57] yotpaul commented on #181
@hobadams @brightonmike It's currently being taken care of by R&D.
Code deployment should be this week.
I'll update as soon as it's done.

Thanks!

[2019-09-22 07:32] yotpaul commented on #181
Fix has been deployed. Please update your widget version to apply.
Please note that `widget.js` may be cached so changes will not be immediately visible.
You can switch to _Immediate Update (Temporary)_ in order to see the change and force the cache refresh.

[2019-09-22 07:32] #181 closed

[2019-09-23 07:11] hobadams commented on #181
@yotpaul - lovely thank you! ! appreciate you and your team getting this fixed :-)

[2019-09-30 18:22] MageLuingil commented on #182
We see this issue as well.

"amasty/sorting": 2.5.4
"yotpo/module-review": 2.9.0

`Exception #0 (ReflectionException): Class Yotpo\Yotpo\Helper\ApiClient does not exist`

Downgrading yotpo/module-review to 2.8.* or 2.7.* gives this error instead (also thrown from amasty/sorting):
`Exception #0 (ReflectionException): Class Yotpo\Yotpo\Block\Config does not exist`

Given that we're running Magento 2

[2019-09-30 18:28] webamondo commented on #182
@MageLuingil the fix for me was actually to upgrade amasty sorting, if you check amasty changelog you will see:
2.6.4 - Sep 25, 2019:
Compatibility compatibility with Yotpo Reviews was enhanced

[2019-09-30 18:33] MageLuingil commented on #182
@webamondo Yup, upgrading amasty/sorting fixes the issue for us as well.  Looks like this issue might be on Amasty, not Yotpo.

[2019-10-02 09:44] yotpaul commented on #182
@webamondo, @MageLuingil Thanks for the update, glad to see it was resolved.

[2019-10-02 09:44] #182 closed

[2019-10-09 11:25] hobadams commented on #181
@yotpaul - Any news on the question above? Thanks

[2019-10-16 10:37] yotpaul commented on #181
@hobadams The widget version is updated through your Yotpo dashboard by going to https://yap.yotpo.com/#/tools/widget/general_settings
Unless I misunderstood what you've meant?

[2019-10-24 00:28] kriswen opened #195 "main.INFO: Broken reference: the 'yotpo_bottomline' element ....."
For Magento 2.3.3, In /var/log/system.log, these are shown:
[2019-10-24 00:17:04] main.INFO: Broken reference: the 'yotpo_bottomline' element cannot be added as child to 'product.info.main', because the latter doesn't exist [] []
[2019-10-24 00:17:04] main.INFO: Broken reference: the 'yotpo_bottomline' tries to reorder itself towards 'product.info.addto', but their parents are different: 'product.

[2019-10-27 11:29] SlavicB commented on #195
@kriswen Are you trying to install the star rating in a custom location or that's an error you see out of the box after installing our extension?

[2019-11-07 12:11] t2zhhe00 opened #207 "yotpo_rich_snippets table average_score only allowed to save as integer"
Hello,

We encounter the issue average_score is not matched in Yotpo API. The problem is even score return from API is a float number eg 4.3, when it save to database it is become 4.

The solution is change the Lenght of average_score data from `10,0` to `10,2`

BR
Heng

[2019-11-12 09:23] sergei-sss opened #209 "Where can I find 3.0.0 version?"
Magento 2.3.3 fresh installation has
"yotpo/magento2-module-yotpo-reviews" 3.0.0 version.

Magento 2.3.2 after update to 2.3.3 hasn't any yotpo extensions...

In this repository and in magento marketplace the last version is 2.9.1.

Where can I find repository with 3.0.0 version?

[2019-11-12 09:25] sergei-sss commented on #209
I suppose here: https://github.com/YotpoLtd/magento2-module-yotpo-reviews/tree/3.0.0-cbe-release

[2019-11-12 09:38] #209 closed

[2019-11-12 12:17] sergei-sss opened #210 "Save API result with 404 answer to yotpo_rich_snippets cache table."
Currently only data from answer with status code "200" can be saved in `yotpo_rich_snippets` table:

[code]

If you'll save the products without reviews (404 status) in  `yotpo_rich_snippets` table the quantity of API queries can be reduced and using the rich snippets API can be faster.

[2019-11-14 09:48] DanGlz commented on #164
Hey @hobadams,

This bug has been fixed in the latest release (v2.9.2).

Let us know if there is any issue.
Thanks.

[2019-11-17 09:08] yotpaul commented on #207
Thanks for the report @t2zhhe00 I'll open up a task for this internally.

[2019-11-17 09:12] yotpaul commented on #210
@sergei-sss Thanks for the report! Let me check about this and get back to you.

[2019-11-19 21:56] shilpambb opened #215 "My module version says 3.0.0, but the latest release is 2.9.2"
Hello team yotpo. I don't know how or why or when it happened, but the composer.json file in the yotpo module is saying version 3.0.0. I'm pasting the composer.json here. I'm wondering if something is wrong and if anyone can tell me what I need to do.

{
    "name": "yotpo/magento2-module-yotpo-reviews",
    "description": "Yotpo Reviews extension for Magento2",
    "version": "3.0.0",
    "licens

[2019-11-20 14:17] yotpaul commented on #215
Hey @shilpambb **2.9.2** is indeed the latest *standalone* release of the Yotpo module.
**3.0.0** is the version that comes bundled with Magento 2.3.3 and above.

[2019-11-20 14:17] yotpaul commented on #207
@t2zhhe00 a bug has been opened about this, thanks again for reporting!

[2019-11-21 12:36] #215 closed

[2019-11-21 15:39] shilpambb commented on #215
@yotpaul which version does 3.0.0 line up with on this github repository? I imagine the github repository will release faster than Magento. How can we stay up to date with this repository instead of the Magento one?

[2019-11-24 13:38] #195 closed

[2019-11-27 15:11] shilpambb opened #216 "Which version does 3.0.0 line up with on this github repository and how to stay up to date?"
Which version does 3.0.0 line up with on this github repository? I imagine the github repository will release faster than Magento. How can we stay up to date with this repository instead of the Magento one?

[2019-11-27 15:12] shilpambb commented on #216
This is a follow up question from https://github.com/YotpoLtd/magento2-module-yotpo-reviews/issues/215.

[2019-12-01 09:33] yotpaul commented on #216
Hey @shilpambb 3.0.0 would be around the same age as version 2.9.0.
I am currently working with R&D to try and get a way to temporarily uninstall the built-in version from Magento.
However, keep in mind that the 2.9.X branch is temporary and is only for older versions of Magento until those are no longer supported by Magento themselves, so if possible I'd advise against moving to the 2.9.X branch

[2019-12-02 07:26] hafizjee commented on #195
facing the same issue .yeah m install the star rating in a custom location
how can I resolve the issue?

[2019-12-02 07:30] hafizjee opened #217 "Broken reference: the 'yotpo_bottomline' tries to reorder itself towards"
main.INFO: Broken reference: the 'yotpo_bottomline' tries to reorder itself towards 'product.info.addto', but their parents are different: 'product.info.main' and 'product.info.social' respectively. [] []
main.INFO: Broken reference: the 'skip_gallery_before' tries to reorder itself towards 'product.info.media.image', but their parents are different: 'skip_gallery_before.wrapper' and 'product.info

[2019-12-02 14:33] shilpambb commented on #216
Hi @yotpaul, we also use Braintree through the Gene module. It has a way of replacing the built in Magento version. They do this so that their release cycle is not tied to Magento's release cycle. However, they don't contribute to the Magento module I don't think. Rather, they put out their own with more features. Here is their repo: https://github.com/genecommerce/module-braintree-magento2

I thi

[2019-12-03 12:10] yotpaul commented on #216
Hey @shilpambb Yotpo's current standing with Magento is a bit more peculiar so we kind of have to adhere to Magento's release cycle.
From my own tests it seems a bit more complicated than just using replace with Composer.
I'm gonna have to see if I can get a somewhat proper solution here.

[2019-12-03 14:05] shilpambb commented on #216
Thanks @yotpaul. I haven't looked into a solution, so I'm sure there is more involved, but it would be nice to be able to get updates and bug fixes faster than the Magento release cycle. Thanks for looking into a solution.

[2019-12-03 21:37] SlavicB commented on #195
The star rating can only be placed in a product context, if there's no context it won't know which rating to show and error.

[2019-12-12 11:41] yotpaul commented on #216
Hey @shilpambb from what I've been able to gather, there are two ways that you can go by to replace the CBE module with a version of your choosing:
1. Open the extension folder that is located under "Vendor" and replace the files there with the files of the desired version from Github manually.
2. Delete the extension from the Vendor folder and install it using this guide: https://github.com/Yotpo

[2019-12-12 14:30] shilpambb commented on #216
I think we'll stick with the Magento release in that case. We were hoping for a more automated solution through composer. If we need any fix urgently, we'll probably use a composer patch file.

[2019-12-15 11:41] #216 closed

[2019-12-15 11:41] yotpaul commented on #217
Hey @hafizjee let me check about this and get back to you.

[2019-12-26 09:48] yotpaul commented on #207
Will be addressed by #219

[2019-12-26 09:48] #207 closed

[2019-12-26 09:51] yotpaul commented on #217
Internal issue open, will update on resolution.

[2019-12-27 05:10] Zyles opened #220 "How do I uninstall this shit?"
Bloating up my 2.3.3 installation.

[code]

How do I get rid of this? Malware is easier to uninstall.

[2019-12-28 17:12] AurelienLavorel commented on #220
Add that on your composer.json
[code]

[2020-01-02 13:05] yotpaul commented on #207
Correction, addressed by https://github.com/YotpoLtd/magento2-module-yotpo-reviews/pull/221

[2020-01-08 11:13] yotpaul commented on #220
@Zyles as the Yotpo module is a CBE (Core Bundled Extension) i.e. comes bundled with any Magento version above 2.3.3, please contact Magento themselves if you've got an issue.

[2020-01-08 11:13] #220 closed

[2020-01-08 12:40] yotpaul commented on #217
Hey @hafizjee,
This is a very common error and is considered a "log spam". It has no effect on functionality.

Are you having troubles using Yotpo or is this just a general concern?

[2020-01-08 13:41] hafizjee commented on #217
Hi @yotpaul
Thanks to the response, yeah you are right "It has no effect on functionality".

[2020-01-08 13:41] #217 closed

[2020-01-08 22:19] Zyles commented on #220
I already did: https://github.com/magento/magento2/issues/26187

And got no help.

When you are responsible for filling up M2 with bloatware. Then you will also take responsibility for support and removal of it.

[2020-01-24 14:44] ucze opened #223 "Typo in template file."
https://github.com/YotpoLtd/magento2-module-yotpo-reviews/blob/b9a56557ed8a9533b3f13ec54044d12d83e23b92/view/frontend/templates/conversion.phtml#L3

https://github.com/YotpoLtd/magento2-module-yotpo-reviews/blob/b9a56557ed8a9533b3f13ec54044d12d83e23b92/view/frontend/templates/conversion.phtml#L23

Shouldn't be "Conversion" instead of "Conversation"? :)

[2020-02-02 02:39] perfpcs commented on #220
@Zyles  here here! totally agree! So tired of Magento trying to decide what I need for tax software (Vertex), Fraud (Signify), reviews (Yotpo) and that clusterf@#$ useless bloatware Temando Shipping. Can Magento just stop with this nonsense?? No one wants this crap and every release of Magento gets worse and worse because they try to decide for us what we as merchants need in our shopping cart. I'

[2020-02-02 03:40] perfpcs commented on #220
And the stupidity continues trying to uninstall this malbloat:
	"replace": {
	"yotpo/magento2-module-yotpo-reviews": "*",
        "yotpo/magento2-module-yotpo-reviews-bundle": "*"
		}

  Problem 1
    - magento/project-community-edition 2.3.3 requires magento/product-community-edition 2.3.3 -> satisfiable by magento/product-community-edition[2.3.3] but these conflict with your requirements or mini

[2020-02-18 16:32] #164 closed

[2020-02-18 16:35] #121 closed

[2020-02-21 07:38] monocircus opened #224 "error conection refused with widget.js only occur chrome desktop"
Hi

I  found  a issue that review widget v3.1.0 which is installed in magento 2.3.4 open source has not been shown in website when I use chrome in PC.
chrome version :  80.0.3987.116

when I check product page with android phone, both firefox and chrome has no issue.
when I check product page with firefox PC, also review widget is displayed properly.

I found Q&A topic similar in this case.
I inve

[2020-02-21 10:35] monocircus commented on #224
Sorry,
1st issue is related to VPN. when I disable it. error is disappeared.

[2020-02-21 10:35] #224 closed

[2020-03-11 09:30] MellenIO opened #228 "Composer Deprecation notice; file doesn't comply with autoloading standard"
When running `composer dumpautoload` in a Magento 2 project, I get the following warning from Composer:

[code]

The file `Cron/UpdateMetadata.php` does not comply with PSR-4 autoloading. Seeing [the specification](https://www.php-fig.org/psr/psr-4/#2-specification):

The file `Cron/UpdateMetadata.php` needs to be renamed to `UpdateMetadataJob.php` rather than `UpdateMetadata.php`.

[2020-03-17 19:52] bm-eventstable opened #231 "yotpo/magento2-module-yotpo-reviews composer replace statement prevents upgrade to version 3.1.0"
We had updated to the latest 3.1.0 release shortly after it became available while running magento 2.3.2. During the magento 2.3.4 composer upgrade, The Yotpo module was replaced with version 3.0.1 which I believe is bundled with magento 2.3.4. This caused the code version (3.0.1) to appear to be outdated when the site attempts to load as the database is reporting version 3.1.0. My site composer.j

[2020-04-01 07:39] yotpaul commented on #231
Hey @bm-eventstable what you can try and do is replace the code under the vendor directory with the version that you need and remove the Yotpo_Yotpo row from the modules SQL table.
It is also advisable to use the CBE version of the module, so we suggest to do that once Magento 2.3.5 is released as any changes you make now will be overridden when you update composer again.

Let me know if this help

[2020-04-01 07:43] yotpaul commented on #228
Hey @MellenIO I'm going to open an internal issue for this and let you know once it's resolved.

[2020-06-22 17:37] jcdennen commented on #144
Just hit this issue with the Magento 2.3.5-p1 upgrade. anyone who had Yotpo installed prior to `v2.4` will run into a bug with the `UpgradeData` script. The script (as is) assumes the table exists, when it may not. Looks like there is a pending fix in #245

[2020-09-09 06:29] #144 closed

[2020-09-11 13:59] paul-gene commented on #220
@yotpaul pretty sure the module developer is still responsible for maintaining the codebase...

[2020-09-18 21:40] #151 closed

[2020-11-17 10:20] enl opened #260 "Slow DB query in YotpoSync cron job"
The query to retrieve list of orders to sync becomes bloody slow in certain cases:

https://github.com/YotpoLtd/magento2-module-yotpo-reviews/blob/master/Model/Jobs/OrdersSync.php#L179

This query looks like this in pure SQL:

[code]

In our case, there 300k rows in `sales_order` table that suit this query. And using `left join` on a subset of this size (especially checking on emptiness) is slow t

[2021-01-26 14:44] shilpsauce opened #262 "Review schema missing"
Is it intentional that yotpo does not include review schema: https://developers.google.com/search/docs/data-types/review-snippet

[2021-01-31 10:09] pinchas13 commented on #260
Hey @enl ,
Thanks for the report!
We are currently checking the issue you have raised regarding the query slowness.
I will get back to you with an update about it.

[2021-01-31 13:54] pinchas13 commented on #262
Hey @shilpsauce
Thank you for reaching out.
The type of scope that Yotpo is responsible for providing reach snippets content is the 'aggregated rating' parameter under the Product scope.
For more info about our Rich snippets functionality please see this link:
https://support.yotpo.com/en/article/product-rich-snippets#all-other-parameters

Feel free to reach out via Support ticket for any further

[2021-02-23 17:05] denis-zyk opened #268 "Yotpo shouldn't override CSP configuration"
https://github.com/YotpoLtd/magento2-module-yotpo-reviews/blob/ee9533ef18e38f9bdcb73617efa8ac223400d9cd/etc/config.xml#L21-L30

Yotpo shouldn't override Magento's CSP configuration and thus weakening the security.
Otherwise, all CSP implementations (e.g. in custom module) would have to include `Yotpo_Yotpo` in module's loading sequence dependency if the latter has been installed.

[2021-03-01 13:30] pinchas13 commented on #260
Hey @enl
We are going with a new design to export orders.
This issue will be addressed in future  releases of the Yotpo plugin

[2021-03-03 15:53] andrew-ebsco opened #269 "Category bottomline is clickable but does not link to product page"
We have enabled the category bottomline so customers can see the number of stars and reviews when browsing the product list. If you hover over the stars or number of reviews, the cursor changes to a hand like it is clickable, however, clicking it does nothing. I submitted a support request to Yotpo, but was told we have to add the link ourselves. Since the bottomline is generated by this module, t

[2021-03-04 08:30] pinchas13 commented on #269
Hey @andrew-ebsco
Thank you for reaching out.
Can you please share the URL where the issue happens?

[2021-03-04 14:20] andrew-ebsco commented on #269
Yes [this page](https://www.moultriefeeders.com/products/moultrie-mobile) is a good example. You can see the stars and number of reviews on the product card. If you place your cursor over them, the text has a hover state and changes the cursor, but when you click on it, nothing happens. We expect that clicking the stars would navigate to reviews on the product page.

[2021-03-09 12:08] pinchas13 commented on #269
hey @andrew-ebsco
By default, our CSS settings for the star rating are that it will show the 'hand' cursor when hovering.
I was able to fix the hover issue in the category page via the CSS editor in your Yotpo account.
Check the changes In the Yotpo admin > On-site widgets > Widget CSS editor > scroll to the bottom.

If you wish to add 'a' tag to the star rating code, the path is
magento2-module-y

[2021-03-09 20:17] andrew-ebsco commented on #269
Hey @pinchas13, thanks for the help. However, we actually want to make the category stars link to the product page. Changing the bottomline.phtml template only affects the product page, not category pages. It would be nice to have an option to use a link in the `_getCategoryBottomLineHtml` function.

[2021-03-11 09:46] pinchas13 commented on #268
Thank you @denis-zyk for your response here.
Currently working on a fix!

[2021-04-25 04:36] mrscreatch commented on #148
[2021-04-23 12:03:23] main.CRITICAL: Connection "default" is not defined {"exception":"[object] (DomainException(code: 0): Connection \"default\" is not defined at /home/martarab/public_html/vendor/magento/framework/App/ResourceConnection.php:148)"} []

[2021-04-25 04:36] mrscreatch commented on #148
i am having the same problem please help

[2021-04-28 12:52] sharp80 opened #273 "hi!! test!"

[2021-04-28 12:55] sharp80 opened #274 "hi!! test2!!"

[2021-04-28 12:58] pinchas13 opened #275 "hii test 3"

[2021-05-02 11:23] #275 closed, assigned to nobody

[2021-05-02 11:24] #274 closed, assigned to nobody

[2021-05-02 11:24] #273 closed, assigned to nobody

[2021-10-18 07:25] lytesaber opened #280 "main.INFO: Broken reference: the 'yotpo_bottomline' in system.log"
Magento Open Source 2.4.3-p1

Consistently get messages in system.log when loading the product view when Yotpo integration is configured and enabled.

main.INFO: Broken reference: the 'yotpo_bottomline' element cannot be added as child to 'product.info.main', because the latter doesn't exist
main.INFO: Broken reference: the 'yotpo_bottomline' tries to reorder itself towards 'product.info.addto', b

[2022-02-03 22:26] steven-hoffman-jomashop opened #284 "\Yotpo\Yotpo\Model\Richsnippet::getSnippetByProductIdAndStoreId does not use an index"
The lookup is by store_id and product_id.
The only index on the table is the primary key.
There should be an index on store_id,product_id so that the lookup should be fast.
(There is no need to scan the entire table).

[2022-03-29 22:16] bateaurouge opened #290 "yotpo_rich_snippets table is empty in M2.4.3-p1 module v3.2.0"
Hello,

How do I determine why the yotpo_rich_snippets table isn't populating with rich snippet data? Cron is running and orders are being synced with Yotpo.

Attached screenshot of table structure, everything looks ok there.

![structure](https://user-images.githubusercontent.com/41127197/160715967-7cc481a3-bd34-4454-a670-6c989fb731e1.jpg)

Magento version 2.4.3-p1 and module version 3.2.0 that w

[2022-03-29 22:37] #290 closed, assigned to nobody

[2022-07-14 01:36] hryksbt opened #292 "About API version"
Hello,

I believe this repository is a development repository for a module that works with Yotpo's review function listed on the Magento marketplace.
In the Latest stable version of the module connecting Magento and Yotpo, which API version is V1 or V3 on the Yotpo side?

This is not an Issue report, but it would be helpful to get an answer.

Thank you in advance.

[2022-08-10 22:21] steven-hoffman-jomashop opened #293 "PHP 8.1 Support - PHP 7.4 EOL"
Hi,

As you are aware PHP 7.4 is End of Life on 28 Nov 2022. (https://www.php.net/supported-versions.php).
This module 's composer.json does not support PHP 8.1 (https://github.com/YotpoLtd/magento2-module-yotpo-reviews/blob/master/composer.json#L10)

Does this module compatible with PHP 8.1?
If yes, can you update the composer.json and release a new version?
If no, can you add compatibility PHP 8

[2022-08-10 22:26] steven-hoffman-jomashop commented on #293
Someone has opened a PR for this: https://github.com/YotpoLtd/magento2-module-yotpo-reviews/pull/291

[2022-08-14 14:15] LiorGingi commented on #293
Hi @steven-hoffman-jomashop,

On Mar. 8th we've released [version 3.3.0](https://github.com/YotpoLtd/magento2-module-yotpo-reviews/releases/tag/3.3.0) which is fully compatible with PHP 8.1.
This version is not merged to Master due to various reasons.

The new version is already available in Packagist and can be installed via composer;
[code]

Thanks,
Lior Gingihashvili.

[2022-08-14 14:15] #293 closed, assigned to nobody

[2022-08-14 14:18] LiorGingi commented on #292
Hi @hryksbt,

This module is using our [core API V1](https://core-api.yotpo.com/v1.0/reference/welcome#).
We're currently working on a new module that will use [V3](https://core-api.yotpo.com/reference/welcome#) and also add a whole set of new features to the Magento <> Yotpo integration. The new module will be released soon.

Thanks,
Lior Gingihashvili.

[2022-08-14 14:18] #292 closed, assigned to nobody

[2022-08-14 16:13] hryksbt commented on #292
Hello,
Thanks for your reply.
I got that is using V1 now.
I wish that will release near future.
Good luck.

[2022-08-31 13:16] tahiryasin commented on #148
Sometimes this error occurs when you empty the database and re run the installation command.
Deleting below files will fix the issue.
`app/etc/config.php`
`app/etc/env.php`